@import 'tailwindcss';

@theme {
  --color-text: #f2ecac;
  --color-background: #143302;
  --color-primary: #637462;
  --color-secondary: #6d835c;
}

@layer base {
  button:not(:disabled) {
    cursor: pointer;
  }
}
